.build-page, .counter-picks {
    width: 600px;
    height: max-content;
    margin: 20px;
    text-align: center;
    background-color: #15437ef1;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0px 0px 20px #1039aa;
}

.back {
    display: inline-block;
    margin-top: 20px;
    color: #60fa68;
    text-decoration: none;
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #020617, #0f172a);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

p {
    white-space: pre;
    margin-top: 0px;
    margin-bottom: 0px;
}

img {
    width: 400px;
    margin-bottom: 10px;
    margin-top: 10px;
}

b {
    font-size: 20px;
}

h2 {
    margin-top: 5px;
    margin-bottom: 1px;
}

.lane {
    display: inline-block;
    color: #fa60f2;
    text-decoration: none;
    font-weight: 800;
    background-color: #460542;
    padding: 15px;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.counter-picks {
    margin-left: 1px;
    width: 150px;
}